.about{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about{
    text-align: center;
}
.jumbotron{
    color: white;
     background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/watch2.jpg")no-repeat ;
    margin-bottom:0%;
    text-align: center;
    width: 100%;
    background-position:center;
    background-size:100%;
}
.a{
background:    linear-gradient(rgba(236, 232, 232, 0.6),rgba(226, 221, 221, 0.6));
background-size:
background-position: center;
}
.yomoly{
  margin-left: 35px;
}
footer{
    margin-top: 20%;
    text-align: center;
}
.body{
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/watch8.jpg");
background-size: cover;
background-position: center;
height: 100%;
}
.register{
    color: black;
    padding-top: 5px;

}
button{
    background-color:green;
    padding: 8px;
    width: 100%;
    text-transform:uppercase ;
    cursor: pointer;
    color: white;
}
.login{
    width:40%;
    margin: auto;
    padding-left: 10%;
    margin-top: 10%;
   ;
}
.form{
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    border-radius: 5px;
    z-index: 1;
    padding:45px ;
    background-color: white;
    position: relative;
    margin: 0 auto 100px;
    max-width: 350px;
    text-align: center ;
    height: 500px;
   
}
form{
    width: 100%;
    outline: 1;
    box-sizing: border-box;
   padding: 15px;
   margin: 0 0 15px;
   border: 0vw;
   
}

.pay{
color: red;
}
input {
    width: 100%;
    border: solid 1px green;
    border-radius: 3px;
    height: 40px;
}
.left {
    float: left;
    padding-top: 40px;
}
input::placeholder {
    display: none;
}
.header{
    text-align: center;
    color: yellowgreen;
}
.card{
    float: left;
width: 20% ;
padding: 2%;

 } 
.us{
padding-left:35%;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))
}